// commentaire qui sera afficher en tant que commentaire dans le rendu html
//- commentaire visible seulement dans le fichier pug

doctype html 
html
   head
      block head
         meta(charset='UTF-8')
         meta(name='viewport' content='width=device-width, initial-scale=1.0')
         meta(http-equiv="Content-Security-Policy" content="default-src *; script-src *; img-src * https://tile.openstreetmap.org/; child-src: *;")
         link(rel='stylesheet' href='/css/leaflet.css')
         link(rel='stylesheet' href='/css/style.css')
         link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
         link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
         //- link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=")
         //- script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="" defer)
         script(src='/js/bundle.js' defer)
         title Natours | #{title}

   body
      // HEADER
      include _header

      // CONTENT
      block content 
         h1 This is a placeholder heading

      // FOOTER
      include _footer
